* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
}

.container {
    margin: 5% auto;
}

.accordion {
    background-color: aliceblue;
    width: 60%;
    margin: 0 auto;
    padding: 2% 8%;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 2%;
}

.accordion-item__img {
    width: 60%;
    display: none;
    margin: 0 auto;
    padding: 2% 0;
}

.accordion-item:hover .accordion-item__img {
    display: block;
}

.accordion-item:hover .accordion-item__title {
    color: black;
}

.accordion:hover .accordion-item__title-icon {
    background-image: url(/img/icons8-плюс-24.png);
    height: 3vh;
    width: 3vw;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.accordion-item:hover .accordion-item__title-icon {
    background-image: url(/img/icons8-удалить-24.png);
    height: 3vh;
    width: 3vw;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.accordion-header {
    margin-bottom: 5vh;
}

.accordion-item__title {
    display: flex;
    justify-content: space-between;
    color: blue
}

.accordion-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



